<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <p> Noah Dillon: noah.dillon@colorado.edu </p>
  <p> Andrew Gordon: abgordon@colorado.edu </p>
  <p> Jessica Lynch: Jessica.Lynch@colorado.edu </p>
</p>
