<div class="center hero-unit">
  <h1>Welcome to The Mentor App</h1>

  <h2>
    This is the home page for the Computer Science Connection
    sample application.
  </h2>

  <li><%= link_to "Sign up now!", 'users/sign_up' %></li>
</div>


